#en_tete{
    background-color : black;
    color: white;
    min-height: 2em;
    font-weight : bold;
}
#en_tete p{
    padding-left: 15%;
    padding-top: 6px;
}
#adoptez_chaton{
   background-image: url(../img/background.jpg); 
   min-height: 7em;
   font-size : 25px;
   text-align: center;
   color : white;
   font-weight: bold;
   margin-top: -25px;
}
#adoptez_chaton p{
    padding-top : 70px;
}